:root{
    --verde: #0C7F0C;
    --rojo: #BF2604;
    --azul: #5E44FC;
    --titulo: #D9043D;
    --grisOscuro: #212126;
    --gris: #96A4A7;
    --grisClaro: #C6D0D9;
}

/*----------------------------------------------------------------------------------------------
---------------------------------------- CONTENEDOR BASE ---------------------------------------
-----------------------------------------------------------------------------------------------*/
.div-contenido *{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- FORMULARIOS ------------------------------------------
-----------------------------------------------------------------------------------------------*/
.form{
    background-color: white;
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 13px rgba(0,0,0,0.1);
}

/*Header*/
.form-header{
    display: flex;
    flex-direction: row;
}

/*Titulo*/
.form-header-titulo{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-end;
    width: 50%;
}

.form-header-titulo input{
    font-size: 2em;
    border: none;
    outline: none;
}

input.input-titulo-verde{
    border-bottom: 2px solid var(--verde);
}

input.input-titulo-rojo{
    border-bottom: 2px solid var(--rojo);
}

.state-title-input{
    font-size: 2em;
}

#btnNewCategory{
    display: block;
    background-color: white;
    border: none;
    color: var(--azul);
    cursor: pointer;
}

#btnNewCategory:hover{
    text-decoration: underline;
}

#frmNewCategory{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 0;
}

#txtNewCategory{
    border: var(--grisOscuro) solid 2px;
    border-radius: 0%;
}

#saveNewCategory, #cancelNewCategory{
    height: 100%;
    padding: 0 0.5em 0 0.5em;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--grisClaro);
    border: var(--grisOscuro) solid 2px;
}

#saveNewCategory:hover, #cancelNewCategory:hover{
    background-color: var(--gris);
}

#saveNewCategory{
    color: var(--verde);
}

#cancelNewCategory{
    color: var(--rojo);
}

/*Botones*/
.form-header-button{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: end;
    width: 50%;
}

.form-input{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.contenedor-input{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-start;
}

.contenedor-input-doble{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contenedor-input>input, .contenedor-input>select, .contenedor-input>textarea{
    padding: 1em;
    width: 100%;
    border-radius: 10px;
    border: black solid 2px;
}

/* File img */
.file-img{
    display: none;
}

.file-label{
    display: block;
    width: 100%;
    border-radius: 10px;
    border: black solid 2px;
    overflow: hidden;
    position:relative;
    cursor: pointer;
    gap: 1em;
}

.file-label>img{
    display: block;
    margin: auto;
}

.file-label-btn{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1em;
    top: 0;
}

.file-label-btn>span{
    font-size: 2em;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- CONTENEDOR -------------------------------------------
-----------------------------------------------------------------------------------------------*/
.contenedor-abuelo{
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 22px 13px rgba(0,0,0,0.1);
}

/*Header*/
.contenedor-header{
    display: flex;
    flex-direction: row;
}

.contenedor-titulo{
    color: var(--titulo);
    width: 70%;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: end;
    width: 30%;
}

/*----------------------------------------------------------------------------------------------
------------------------------------------- BOTONES --------------------------------------------
-----------------------------------------------------------------------------------------------*/
.btn{
    display: block;
    padding: 1em;
    border: none;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

.btn-green{
    color: var(--verde);
    background-color: white;
    border: var(--verde) solid 2px;
}

.btn-green:hover{
    color: white;
    background-color: var(--verde);
    border: var(--verde) solid 2px;
}

.btn-red{
    color: var(--rojo);
    background-color: white;
    border: var(--rojo) solid 2px;
}

.btn-red:hover{
    color: white;
    background-color: var(--rojo);
    border: var(--rojo) solid 2px;
}

.btn-azul{
    color: var(--azul);
    background-color: white;
    border: var(--azul) solid 2px;
}

.btn-azul:hover{
    color: white;
    background-color: var(--azul);
    border: var(--azul) solid 2px;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- RESULTADO ------------------------------------------
-----------------------------------------------------------------------------------------------*/
.resultado-titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resultado-titulo-error{
    font-size: 2em;
    color: var(--rojo);
}

.resultado-titulo-success{
    font-size: 2em;
    color: var(--verde);
}

.resultado-boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- COMPLEMENTO ------------------------------------------
-----------------------------------------------------------------------------------------------*/
.contenedor-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.evento:hover{
    transform: scale(1.03);
    transition: 500ms;
}

.bold{
    font-weight: bold;
}

.color-verde{
    color: var(--verde);
}

.color-rojo{
    color: var(--rojo);
}

#imgEvento{
    height: 200px;
}

/*----------------------------------------------------------------------------------------------
------------------------------------------ TARJETA ---------------------------------------------
-----------------------------------------------------------------------------------------------*/
.fondo-opaco{
    background-color: rgba(0, 0, 0, 0.5);
}

.tarjeta{
    margin: 2em;
    display: flex;
    border-radius: 10px;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 71px 32px rgba(0,0,0,0.7);
    overflow: hidden;
}

.tarjeta-img{
    width: 40%;
    background-size: cover;
    background-position: center;
}

.tarjeta-contenido{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    color: white;
    width: 60%;
    align-items: center;
}

.tarjeta-contenido-descripcion{
    width: 100%;
    text-align: justify;
    padding: 0 2em 0 2em;
}

.tarjeta-row-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.tarjeta-row-2>div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjeta-categorias{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.tarjeta-categoria-p{
    background-color: white;
    color: black;
    padding: 0.5em;
    border-radius: 10px;
}

.tarjeta-botones{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.tarjeta-btn{
    border-radius: 10px;
    background-color: transparent;
    color: black;
    border: black solid 2px;
}

@media (max-width: 900px ){
    .contenedor-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .form-input{
        display: flex;
        flex-direction: column;
    }
    .form-header{
        flex-direction: column;
        gap: 1em;
    }

    .form-header-titulo{
        width: 100%;
    }

    .form-header-button{
        width: 100%;
        justify-content: end;
    }
    .tarjeta{
        flex-direction: column;
        background-position: top;
    }
    .tarjeta-img{
        width: 0%;
    }
    .tarjeta-contenido{
        margin-top: 40%;
        width: 100%;
    }
}