:root{
    --verde: #0C7F0C;
    --rojo: #BF2604;
    --azul: #5E44FC;
    --titulo: #D9043D;
}

.div-contenido *{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div-contenido{
    margin-top: 20vh;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- FORMULARIOS ------------------------------------------
-----------------------------------------------------------------------------------------------*/
.form{
    margin: 2em;
    border: black 2px solid;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/*Header*/
.form-header{
    display: flex;
    flex-direction: row;
}

/*Titulo*/
.form-header-titulo{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-end;
    width: 70%;
}

.form-header-titulo input{
    font-size: 2em;
    border: none;
    border-bottom: black solid 2px;
    outline: none;
}

.state-title-input{
    font-size: 2em;
}

/*Botones*/
.form-header-button{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: end;
    width: 30%;
}

.form-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.contenedor-input{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.contenedor-input-vertical{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contenedor-input input, .contenedor-input select{
    padding: 1em;
}

.contenedor-input-vertical textarea{
    padding: 1em;
}

/*----------------------------------------------------------------------------------------------
----------------------------------------- CONTENEDOR -------------------------------------------
-----------------------------------------------------------------------------------------------*/
.contenedor-abuelo{
    margin: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: solid 1px rgba(128, 128, 128, 0.205);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

/*Header*/
.contenedor-header{
    display: flex;
    flex-direction: row;
}

.contenedor-titulo{
    color: var(--titulo);
    width: 70%;
}

.contenedor-botones{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: end;
    width: 30%;
}

.btn{
    display: block;
    padding: 1em;
    border: none;
    font-size: 1em;
    border-radius: 5em;
    cursor: pointer;
}

.btn-green{
    color: var(--verde);
    background-color: white;
    border: var(--verde) solid 2px;
}

.btn-green:hover{
    color: white;
    background-color: var(--verde);
    border: var(--verde) solid 2px;
}

.btn-red{
    color: var(--rojo);
    background-color: white;
    border: var(--rojo) solid 2px;
}

.btn-red:hover{
    color: white;
    background-color: var(--rojo);
    border: var(--rojo) solid 2px;
}

.btn-azul{
    color: var(--azul);
    background-color: white;
    border: var(--azul) solid 2px;
}

.btn-azul:hover{
    color: white;
    background-color: var(--azul);
    border: var(--azul) solid 2px;
}

.contenedor-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.evento:hover{
    transform: scale(1.03);
    transition: 500ms;
}

#btnNewCategory{
    display: block;
    background-color: white;
    border: none;
    color: var(--azul);
    cursor: pointer;
}

#btnNewCategory:hover{
    text-decoration: underline;
}